body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.game-title {
    font-family: Oswald;
    text-align: center;
    font-size: 48px;
}

#canvas {
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
}

.links {
    display: flex;
    justify-content: center
}

.links i {
    font-size: 32px;
    margin: 0 24px;
}

.links a:visited {
    text-decoration: none;
    color: black;
}